[MASTER]
disable=
    missing-docstring,
    too-few-public-methods,
    too-many-instance-attributes,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    fixme

[DESIGN]
max-args=7
max-attributes=12
max-locals=20
max-statements=50

[FORMAT]
max-line-length=120

[MESSAGES CONTROL]
# Disable specific warnings if needed
disable=
    C0111,